PORT=5000
NODE_ENV=production
ADMIN_SECRET_KEY=valuelife_admin_sec_2026_x890
CUSTOMER_JWT_SECRET=valuelife_customer_jwt_2026
ADMIN_PASSWORD=admin123
HOSTINGER_DB_HOST=127.0.0.1
HOSTINGER_DB_USER=u123456789_root
HOSTINGER_DB_PASSWORD=your_password
HOSTINGER_DB_NAME=u123456789_ecommerce
RAZORPAY_KEY_ID=rzp_test_TcG0EYPMH8tl5L
RAZORPAY_KEY_SECRET=your_razorpay_secret
MAINTENANCE_MODE=false
